Source: huayra-ritmos
Section: utils
Priority: extra
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Build-Depends: debhelper (>= 8.0.0), nodejs, nodejs-legacy, npm, git, python, wget
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/pkg-huayra-ritmos
Vcs-Browser: https://github.com/HuayraLinux/huayra-ritmos
Vcs-Git: https://github.com/HuayraLinux/huayra-ritmos.git

Package: huayra-ritmos
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, huayra-help (>= 0.3), huayra-ritmos-data, electron
Description: Aplicacion para generar ritmos
 Aplicacion del estilo de secuenciadores que permite generar ritmos

Package: huayra-ritmos-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: huayra-ritmos (<= 0.9.0)
Replaces: huayra-ritmos (<= 0.9.0)
Description: Aplicacion para generar ritmos (paquete datos)
 Aplicacion del estilo de secuenciadores que permite generar ritmos.
 .
 Este paquete solo contiene archivos de audio
